@page "/"

<PageTitle>Project Text Game</PageTitle>

<h1>Project Text Game</h1>

<ul>
    <li><NavLink href="createcharacter"><span>New Game</span></NavLink></li>
    <li>Continue Game</li>
    <li>Settings</li>
    <li>Quit</li>
</ul>

<Counter IncrementAmount="10"/>
